body {
  background: #EEEDED;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid rgba(60, 119, 163, 1);
}



ol {
	padding-left: 0;
}



.crumb {
	margin-right: 8px;
	display: inline-block;
}

li a {
	display: block;
	color: #111;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: white;

}

li a:hover {
	background-color: #81b8f0;
}


/* li a {
	color: black;
	padding: 12px 26px;
	display: inline-block;
	background-color: aqua;
} */

/* a {
	color: rgb(32, 56, 236);
}

a:hover {
	color: white;
} */


input[type="text"], input[type="textarea"]{
	display: block;
}

.duckresize {
	max-width: 500px;
}


input[type="checkbox"] {
	vertical-align: middle;
}

#beaupic{

	border-radius: 50%;
	height: 160px;
	width: 160px;
}

/* vineyard logo */
#vineyardpic{
	border-radius: 20%;
	height: 160px;
	width: 160px;

}

.flex-container {
	display: flex;
	align-items: stretch;
}

.flex-container>div {
	margin: 10px;
	line-height: 40px;
	font-size: 14px;
}

.icons{
	width: 80px;
	height: 50px;
}


/* button style */

.btn-style {
	background-color: #F0DE36;
	color: white;
	border: 2px solid white;
	padding: 12px 26px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.btn-style:hover {
	background-color:#0D1282;
	color: white;
}

.picresize{
	margin-right: 25px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width: 100%;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

}

/* table style */

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #DDD;
}

tr:hover {
	background-color: #81b8f0;
}




/* card section  */

.cards {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	max-width: 820px;
}

.card--1 .card__img,
.card--1 .card__img--hover {
	background-image: url('https://fridaywereinlove.com/wp-content/uploads/2015/08/d63c1-img_3239.png?w=300');
}

.card--2 .card__img,
.card--2 .card__img--hover {
	background-image: url('https://myareanetwork-photos.s3.amazonaws.com/bizlist_photos/f/318609GET518.jpeg');
}

.card--3 .card__img,
.card--3 .card__img--hover {
	background-image: url('https://happysumosushi.com/wp-content/uploads/elementor/thumbs/vinicius-benedit-1geaa8q3wk-unsplash-min-q9mrlq992c0gogycr2z7j7f8btz83v1sqwh2rdee1s.jpg');
}

.card--4 .card__img,
.card--4 .card__img--hover {
	background-image: url('https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_1200,q_auto:low,fl_lossy,dpr_2.0,c_fill,f_auto,h_800,g_auto/t54ws0qlsqft9lhglggw');
}

.card--5 .card__img,
.card--5 .card__img--hover {
	background-image: url('https://popmenucloud.com/xtculpas/cb7838e3-cf30-4f80-a0d5-2e3051625bce.png');
}

.card--6 .card__img,
.card--6 .card__img--hover {
	background-image: url('https://duyt4h9nfnj50.cloudfront.net/resized/bulk_actions_image_0d0e0a15-9ce7-4b87-abd2-c2d0453ec4ba-w2880-a1.jpg');
}

.card--7 .card__img,
.card--7 .card__img--hover {
	background-image: url('https://fivesushibrothers.com/wp-content/uploads/2019/01/IMG_20171101_182128_856-1.jpg');
}

.card__time {
	font-size: 12px;
	color: #AD7D52;
	vertical-align: middle;
	margin-left: 5px;
}

.card__clock-info {
	float: right;
}

.card__img {
	visibility: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;

}

.card__info-hover {
	position: absolute;
	padding: 16px;
	width: 100%;
	opacity: 0;
	top: 0;
}

.card__img--hover {
	transition: 0.2s all ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	top: 0;

}

.card {
	margin-right: 25px;
	transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width: 100%;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1.10, 1.10);
}

.card__info {
	z-index: 2;
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 16px 24px 24px 24px;
}

.card__category {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #868686;
}

.card__title {
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Roboto Slab', serif;
}

.card__by {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.card__author {
	font-weight: 600;
	text-decoration: none;
	color: #AD7D52;
}

.card:hover .card__img--hover {
	height: 100%;
	opacity: 0.3;
}

.card:hover .card__info {
	background-color: transparent;
	position: relative;
}

.card:hover .card__info-hover {
	opacity: 1;
}













